@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;
  
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer base {
  input {
    @apply ml-4 px-2 py-1 min-w-[300px] text-black;
  }
}